.van-date-editor {
  --el-date-editor-width: 220px;
  width: var(--el-date-editor-width);
}

.van-picker-panel {
  color: var(--van-text-color-regular);
  background: var(--van-bg-color-overlay);
  border-radius: var(--van-border-radius-base);
  line-height: 30px;
}

.van-date-picker {
  width: 322px;
  height: 300px;
}

.van-picker__popper {
  box-shadow: var(--van-box-shadow-light);
}