/* https://github.com/antfu/prism-theme-vars */
@use "prism-theme-vars/base.css";
@use "prism-theme-vars/marker.css";

[class*="language-"]:before {
  font-family: var(--code-font-family);
}

span[class~="language-css"]:before {
  content: "";
}

:root {
  --border-color: var(--van-border-color);
  --bg-color: var(--van-bg-color);

  --prism-marker-opacity: 0.6;
  --prism-marker-color: var(--code-text-color);
  --prism-line-height: var(--code-line-height);
}
@mixin common {
  --code-bg-color: #f5f7fa;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #38a7f8 30%, #52dad8);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #8baff8 50%, #84e0ff 50%);
  --vp-home-hero-image-filter: blur(40px);

  --vp-c-brand: #38a7f8;
  --vp-c-brand-light: #5fb8f8;
  --vp-c-brand-lighter: #89caf9;
  --vp-c-brand-lightest: #b1dbf9;
  --vp-c-brand-dark: #3399e4;
  --vp-c-brand-darker: #318fd3;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

html:not(.dark) {
  --prism-builtin: #3182bd;
  --prism-comment: #848486;
  --prism-deleted: #3182bd;
  --prism-function: #6196cc;
  --prism-boolean: #c25205;
  --prism-number: #c25205;
  --prism-property: #717c11;
  --prism-punctuation: #a8a9cc;
  --prism-keyword: #c792ea;
  --prism-variable: #0b8235;
  --prism-url-decoration: #67cdcc;
  --prism-symbol: green;
  --prism-selector: #0b8235;

  @include common;
}

html.dark {
  --prism-scheme: dark;
  --prism-foreground: #a6accd;
  --prism-background: #181818;
  --prism-comment: #758575;
  --prism-string: #c3e88d;
  --prism-literal: #429988;
  --prism-keyword: #89ddff;
  --prism-boolean: #6394bf;
  --prism-number: #6394bf;
  --prism-variable: #c2b36e;
  --prism-function: #82aaff;
  --prism-deleted: #bc6066;
  --prism-class: #54b1bf;
  --prism-builtin: var(--el-color-primary-light-3);
  --prism-property: #c792ea;
  --prism-namespace: #db889a;
  --prism-punctuation: #89ddff;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;
  --prism-inline-background: #2d2d2d;

  @include common;

  --van-text-color-primary: #e5eaf3;
  --van-text-color-regular: #cfd3dc;
  --van-border-color: #4c4d4f;
  --van-disabled-bg-color: #262727;
  --van-disabled-text-color: #8d9095;
  --van-disabled-border-color: #4c4d4f;
  --van-bg-color: #141414;
  .van-table {
    --van-table-striped-color-even: #1d1d1d;
  }
  .van-collapse {
    --van-collapse-bg-color: transparent;
  }
  .van-button {
    --van-button-bg-color: transparent;
  }
  .van-popper {
    --van-popper-content-bg: #1d1e1f;
  }
  --code-bg-color: #262727;
}

.content-container .vp-doc .example {
  code {
    margin: 0;
    border-radius: 4px;
    padding: 0.15rem 0.5rem;
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    color: var(--code-text-color);
    line-height: var(--code-line-height);
    background-color: var(--code-bg-color);
  }

  pre {
    code {
      background-color: transparent;
    }
  }

  a > code {
    color: var(--code-link-color);
  }

  code .token.deleted {
    color: #ec5975;
  }

  code .token.inserted {
    color: var(--c-brand);
  }

  div[class*="language-"] {
    position: relative;
    margin: 1rem -1.5rem;
    background-color: var(--code-bg-color);
    overflow-x: auto;
  }

  li > div[class*="language-"] {
    border-radius: 6px 0 0 6px;
    margin: 1rem -1.5rem 1rem -1.25rem;
  }

  @media (min-width: 420px) {
    div[class*="language-"] {
      margin: 1rem 0;
      border-radius: 6px;
    }

    li > div[class*="language-"] {
      margin: 1rem 0 1rem 0;
      border-radius: 6px;
    }
  }

  [class*="language-"] pre,
  [class*="language-"] code {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
  }

  [class*="language-"] pre {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0.25rem;
    background: transparent;
    overflow-x: auto;
  }

  [class*="language-"] code {
    padding: 0;
    line-height: var(--code-line-height);
    font-size: var(--code-font-size);
    color: var(--code-text-color);
  }
}

.content-container .vp-doc {
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
    th,
    td {
      border-color: var(--border-color);
    }
  }
  h2 {
    border-top: 0;
  }

  .van-calendar__table {
    display: table;
    tr:nth-child(2n) {
      background-color: transparent;
    }
    th {
      background-color: transparent;
    }
    td {
      padding: 0;
    }
  }
}

.image-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 192px;
  height: 192px;
  background-image: var(--vp-home-hero-image-background-image);
  filter: var(--vp-home-hero-image-filter);
  transform: translate(-50%, -40%);
  animation: logo-wave 6s infinite linear;
}
.VPNavBar {
  &::-webkit-slider-thumb {
    display: none;
  }
  .VPImage.logo {
    height: 32px;
  }
}

@keyframes logo-wave {
  0% {
    transform: translate(-42%, -42%);
  }
  20% {
    transform: translate(-58%, -42%);
  }
  40% {
    transform: translate(-58%, -58%);
  }
  60% {
    transform: translate(-52%, -42%);
  }
  80% {
    transform: translate(-42%, -58%);
  }
  100% {
    transform: translate(-42%, -42%);
  }
}

.VPSidebar,
body {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}
.VPSidebar {
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #0003;
    }
  }
}
body {
  &::-webkit-scrollbar-thumb {
    background-color: #0003;
  }
}
